@{
    Layout = "_BasicLayout";
}

<div class="col-12 col-md-6 offset-md-3 my-5 text-center">
    <h1>Taj članak ne postoji</h1>
    <a asp-action="Index" asp-controller="News" class="btn btn-success m-3">Povratak na vijesti</a>
</div>
