@{
    Layout = "_BasicLayout";
}

<div class="col-12 col-md-6 offset-md-3 my-5 text-center">
    <h1>Došlo je do pogreške</h1>
    <a asp-action="Index" asp-controller="Home" class="btn btn-success m-3">Povratak na naslovnicu</a>
</div>
