@{
    Layout = "_BasicLayout";
}

<div class="row">
    <div class="col-12 col-md-6 offset-md-3 my-5 text-center">
        <h1>Niste autor!</h1>
        <h2>Obratite se administratoru ako mislite da je došlo do pogreške.</h2>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary m-3">Povratak na naslovnicu</a>
    </div>
</div>
