@{
    Layout = "_BasicLayout";
}

<div class="col-12 col-md-6 offset-md-3 my-5 text-center">
    <h1>Ta dretva ne postoji</h1>
    <a asp-action="Catalog" asp-controller="Board" class="btn btn-success m-3">Povratak na ploču</a>
</div>
