@{
    Layout = "_BasicLayout";
}

<div class="col-12 col-md-6 offset-md-3 my-5">
    <div class="text-center">
        <h1>Pristup odbijen!</h1>
        <div class="p-3"></div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary m-3">Povratak na naslovnicu</a>
    </div>
</div>

