@{
    Layout = "_BasicLayout";
}

@model LoginViewModel

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">

        <div class="p-3"></div>
        <h2 class="text-center">Prijavite se za nastavak</h2>
        <div class="p-3"></div>

        <form asp-action="Login" asp-controller="Account" method="post">
            <div class="text-danger" asp-validation-summary="All"></div>

            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label asp-for="Name" class="text-white-50">Ime</label>
                <div><span asp-validation-for="Name" class="text-danger"></span></div>
                <input asp-for="Name" class="form-control" placeholder="Unesite korisničko ime" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="text-white-50">Lozinka</label>
                <div><span asp-validation-for="Password" class="text-danger"></span></div>
                <input asp-for="Password" class="form-control" placeholder="Unesite lozinku" />
            </div>
            <button class="btn btn-success btn-block" type="submit">Prijava</button>
        </form>
    </div>
</div>
