@model ChangePasswordViewModel

<form asp-action="ChangePassword" asp-controller="AuthorInterface" method="post"
      class="mt-3 text-left">
    <div class="form-group">
        <label class="form-text text-muted">Trenutna lozinka</label>
        <div><span asp-validation-for="CurrentPassword" class="text-danger"></span></div>
        <input id="title-input" asp-for="CurrentPassword" class="form-control"
               placeholder="Unesite trenutnu lozinku" type="password" />
    </div>

    <div class="form-group">
        <label class="form-text text-muted">Nova lozinka</label>
        <div><span asp-validation-for="NewPassword" class="text-danger"></span></div>
        <input id="image-input" asp-for="NewPassword" class="form-control"
               placeholder="Unesite novu lozinku" type="password" />
    </div>

    <div class="form-group">
        <label class="form-text text-muted">Potvrdi lozinku</label>
        <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
        <input id="image-input" asp-for="ConfirmPassword" class="form-control"
               placeholder="Potvrdite novu lozinku" type="password"  />
    </div>

    <button class="btn btn-success btn-block" type="submit" name="command" value="save">
        <span class="fa fa-save mr-1"></span>
        Spremi
    </button>
</form>