@model Author

<div class="card bg-light">
    <div class="card-header text-primary h3">
        Izmjena profila
    </div>

    <div class="card-body">
        <form asp-action="EditProfile" asp-controller="AuthorInterface" id="profileForm" method="post"
              class="text-left">
            <div class="form-group">
                <label class="form-text text-muted">Slika</label>
                <div><span asp-validation-for="Image" class="text-danger"></span></div>
                <input id="title-input" asp-for="Image" class="form-control"
                       placeholder="http://imgur.com/sdfs89s.png" />
            </div>

            <div class="form-group">
                <label class="form-text text-muted">Kratak opis</label>
                <div><span asp-validation-for="ShortBio" class="text-danger"></span></div>
                <input id="image-input" asp-for="ShortBio" class="form-control"
                       placeholder="Kratka rečenica prikazana ispod imena" />
            </div>

            <div class="form-group">
                <label class="form-text text-muted">Opis</label>
                <div><span asp-validation-for="Bio" class="text-danger"></span></div>
                <textarea rows="3" id="text-input" asp-for="Bio" class="form-control"
                          placeholder="Opširni opis (o vama, zanimanja, interesi, utjecaji...)"></textarea>
            </div>

            <button class="btn btn-success btn-block" type="submit" name="command" value="save">
                <span class="fa fa-save mr-1"></span>
                Spremi
            </button>

            <input id="title-input" asp-for="Id" class="form-control" hidden />
            <input id="title-input" asp-for="Name" class="form-control" hidden />
        </form>

    </div>

</div>

