@{
    Layout = "_AuthorInterfaceLayout";


    var columnPost = new ColumnPost
    {
        Author = Model.Author,
        Image = Model.ColumnImage,
        Text = Model.ColumnText,
        Title = Model.ColumnTitle,
        DatePosted = DateTime.Now
    };
}

@model ColumnRequest

<div class="col-12">
    <partial name="Alert" />
</div>

<div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
    <div class="card bg-dark">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#editor" role="tab" aria-controls="Editor" aria-selected="true">
                    Uredi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#preview" role="tab" aria-controls="Preview" aria-selected="false">
                    Pregled
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="editor" role="tabpanel">
                <partial name="Editor" model="Model" />
            </div>
            <div class="tab-pane fade" id="preview" role="tabpanel">
                <partial name="ColumnPostBody" model="columnPost" />
                @*<partial name="Preview" model="Model" />*@
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel">...</div>
        </div>
    </div>

</div>

<!-- Confirm deletion modal -->
<div class="modal fade" id="confirmDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Potvrda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Jeste li sigurni da želite izbrisati "@Model.ColumnTitle"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <a class="btn btn-danger" asp-action="RemoveColumnRequest" asp-route-id="@Model.Id">Izbriši</a>
            </div>
        </div>
    </div>
</div>
