@model BoardPost

@{
    string time = $"{Model.DatePosted.ToShortDateString()} {Model.DatePosted.ToShortTimeString()}";
    bool containsImage = !string.IsNullOrEmpty(Model.Image);
}

<div class="p-1 m-0" id="@Model.Id">
    <div class="card">
        <div class="card-header">
            <button class="btn btn-link p-0" onclick="quote(@Model.Id)">
                #@Model.Id | @time
            </button>
        </div>
        <div class="row">
            @if (containsImage)
            {
                <div class="col-4 text-center">
                    <a href="~/images/@Model.Image">
                        <img src="~/images/@Model.Image" class="img-fluid" style="max-height:300px" />
                    </a>
                </div>
            }
            <div class="card-body" style="@(containsImage ? "" : "padding-left:40px")">
                <div class="card-text">
                    <post-text text="@Model.Text"></post-text>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("PostResponses", Model)
    </div>
</div>