@model BoardRespondViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration config;

<div class="card m-1">
    <div class="card-header text-dark">
        <h4>Odgovori</h4>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data"
              asp-action="Respond" asp-controller="Board" asp-route-ThreadId="@Model.ThreadId">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <textarea class="form-control" asp-for="BoardPost.Text" id="textbox"></textarea>
            </div>
            <div class="form-group">
                <input type="file" class="form-control-file" id="file_input"
                       asp-for="BoardPost.Image" name="file">
            </div>
            <div class="g-recaptcha" data-sitekey="@config["GoogleReCaptcha:key"]"></div>
            <br />
            <button class="btn btn-success" type="submit">Objavi</button>
        </form>
    </div>
</div>