@{
    ViewBag.Title = "Ploča";
    Layout = "_Layout";
}

@model List<BoardThread>

<div class="col-12 py-3 px-0">
    <a asp-action="Submit" asp-controller="Board"
       class="btn btn-primary">
        Objavi
    </a>
    <a class="btn btn-outline-secondary"
       asp-action="Catalog" asp-controller="Board">
        Katalog
    </a>
    <button class="btn btn-outline-secondary" onclick="jumpToAnchor('bot')">Na dno</button>
</div>

<div class="card-deck">
    @foreach (var thread in Model)
    {
        <partial name="BoardThreadPost" model="thread" />
    }
</div>

<a class="btn btn-outline-secondary p-2" href="#"> Na vrh </a>

<div id="bot" class="p-3"></div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("[id$=boardNav]").addClass("active");
    });
</script>

