@{
    Layout = "_BoardLayout";
}

@model BoardThread

<div class="container p-0 m-1">
    @foreach (var thread in Model.Posts)
    {
        <partial name="BoardPost" model="thread" />
    }

    <partial name="BoardPostAddComment" 
             model="new BoardRespondViewModel { BoardPost = new BoardPost(), ThreadId = Model.Id}"/>

</div>

<div>
    <nav class="navbar navbar-expand p-1">
        <a class="btn btn-secondary m-1"
           asp-action="Catalog" asp-controller="Board">
            Katalog
        </a>
        <a href="#">
            <div class="btn btn-primary m-1">Na vrh</div>
        </a>
    </nav>
</div>

