@{
    Layout = "_BoardLayout";
    ViewBag.Title = Model?.Posts?.OrderBy(p=>p.DatePosted).FirstOrDefault()?.Text;    
}

@model BoardThread

<div class="row">

    @foreach (var post in Model.Posts)
    {
        <div class="col-12">
            <partial name="BoardPost" model="@(new BoardPostViewModel { ParentThread = Model, Post = post })" />
        </div>
    }

    <div id="comment" class="col-12">
        <partial name="BoardPostAddComment"
                 model="new BoardRespondViewModel { BoardPost = new BoardPost(), ThreadId = Model.Id}" />
    </div>



</div>

<a class="btn btn-secondary my-2"
   asp-action="Catalog" asp-controller="Board">
    Katalog
</a>
<a href="#">
    <div class="btn btn-primary my-2">Na vrh</div>
</a>
@if (TempData.ContainsKey("ScrollToComment"))
{
    <script>scrollToAnchor("comment");</script>
}


