@{
    Layout = "_BoardLayout";
    ViewBag.Title = "Ploča - " +  Model.Posts.ToList()[0].Text;    
}

@model BoardThread

<div class="row">

    @foreach (var thread in Model.Posts)
    {
        <div class="col-12">
            <partial name="BoardPost" model="thread" />
        </div>
    }

    <div id="comment" class="col-12">
        <partial name="BoardPostAddComment"
                 model="new BoardRespondViewModel { BoardPost = new BoardPost(), ThreadId = Model.Id}" />
    </div>



</div>

<a class="btn btn-secondary m-1"
   asp-action="Catalog" asp-controller="Board">
    Katalog
</a>
<a href="#">
    <div class="btn btn-primary m-1">Na vrh</div>
</a>
@if (ViewBag.FileError != null || ViewData.ModelState.IsValid == false)
{
    <script>scrollToAnchor("comment");</script>
}

@if (TempData["NewPost"] != null)
{
    <script>scrollToAnchor(@TempData["NewPost"]);</script>
}


