<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bazirano</title>
    <link rel="stylesheet" asp-href-include="/lib/bootswatch/darkly/bootstrap.min.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/scripts/quote.js"></script>
    <script src="~/scripts/scroll.js"></script>
</head>
<body>
    <div class="container p-0">
        <img src="~/images/banner.png" class="img-fluid"/>
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent border-bottom border-light border-top p-0">
            <a class="navbar-brand bg-secondary p-2" href="/">
                <h4 class="font-weight-bold p-2 m-0">BAZIRANO</h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="homeNav" href="/">POČETNA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="newsNav" href="/News">VIJESTI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="boardNav" href="/Board/Catalog">PLOČA</a>
                    </li>
                </ul>
            </div>
        </nav>

        @RenderBody()
    </div>

</body>
</html>



