<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bazirano</title>
    <link rel="stylesheet" asp-href-include="/lib/bootswatch/darkly/bootstrap.min.css" />
</head>
<body>
    <div class="card">
        @RenderBody()
    </div>

</body>
</html>



