<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" asp-href-include="/style/main.css" />
    <link rel="stylesheet" asp-href-include="/style/style.css" />
    <link rel="icon" type="image/png" asp-href-include="/images/b.png" />
    <link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/scripts/main.js"></script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <main role="main" class="container-lg">
        <nav class="navbar navbar-expand-md bg-transparent font-weight-bold border-bottom border-primary p-0">
            <a class="bg-primary m-0 p-2 text-dark navbar-brand" asp-action="Index" asp-controller="Home">
                <h4 class="p-2 m-0 font-weight-bolder">BAZIRANO</h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span class="fa fa-bars text-primary h3"/>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav float-left pl-2">
                    <li class="nav-item">
                        <a class="nav-link text-primary" id="newsNav" asp-action="Index" asp-controller="News">
                            Vijesti
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" id="boardNav" asp-action="Catalog" asp-controller="Board">
                            Ploča
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" id="columnNav" asp-action="Index" asp-controller="Column">
                            Kolumne
                        </a>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                <ul class="navbar-nav ml-auto float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            @User.Identity.Name
                        </a>
                        <div class="dropdown-menu dropdown-menu-right bg-primary">
                            @if (User.IsInRole("Authors"))
                                {
                            <a class="dropdown-item" asp-action="Index" asp-controller="AuthorInterface">
                                Autorsko sučelje
                            </a>
                                }
                            @if (User.IsInRole("Admins"))
                                {
                            <a class="dropdown-item" asp-action="Index" asp-controller="Admin">
                                Admin sučelje
                            </a>
                                }

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Odjava</a>
                        </div>
                    </li>
                </ul>
                }
            </div>
        </nav>
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container border-top border-light p-2">
            @*<a class="text-secondary m-2 btn-link" asp-controller="Info" asp-action="About">O nama</a>*@
            <a class="text-secondary m-2 btn-link" asp-controller="Info" asp-action="Contact">Kontakt</a>
            <a class="text-secondary m-2 fa fa-instagram" href="https://www.instagram.com/bazirano/"></a>
            <a class="text-secondary m-2 fa fa-facebook" href="https://www.facebook.com/bazirano"></a>

            <div class="text-secondary float-right p-1">© 2020 Bazirano</div>
        </div>
    </footer>
</body>
</html>



