<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bazirano</title>
</head>
<body>
    <div class="container p-0">
        
        @RenderBody()
    </div>

</body>
</html>



