@model BoardThread

@{
    BoardPost post = Model.Posts.FirstOrDefault();
    string time = $"{post.DatePosted.ToShortDateString()} {post.DatePosted.ToShortTimeString()}";
    bool containsImage = !string.IsNullOrEmpty(post.Image);
    string shortenedText = "";

    if (post.Text.Length > 100)
    {
        shortenedText = post.Text.Substring(0, 100);

        if (shortenedText.Last() == ' ')
        {
            shortenedText.Remove(shortenedText.Last());
        }

        shortenedText += "...";
    }

    string textToDisplay = post.Text.Length > 100 ? shortenedText : post.Text;

}
<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 p-1">
    <div class="card text-center">
        <div class="card-header">
            <a asp-action="Thread" asp-route-id="@Model.Id">
                #@post.Id | @time
            </a>
        </div>
        @if (containsImage)
        {
            <div class="card-img text-center">
                <a asp-action="Thread" asp-route-id="@post.Id">
                    <img src="~/images/@post.Image" class="img-fluid" style="max-height:200px" />
                </a>
            </div>
        }

        <div class="card-body text-sm-center m-0 p-0">
            <div class="text-center">
                <br />
                <span class="text-danger">Odg: @Model.PostCount</span>
                <span class="text-danger"> | Sli: @Model.ImageCount</span> <br />
            </div>
            <div class="text-center m-2 p-1">
                <div>
                    @textToDisplay
                </div>
            </div>
        </div>
    </div>
</div>





