@model BoardRespondViewModel

<div class="card m-1">
    <div class="card-header text-dark">
        <h4>Odgovori</h4>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" 
              asp-action="Respond" asp-controller="Board" asp-route-ThreadId="@Model.ThreadId">
            <div class="form-group">
                <div class="text-danger">@ViewBag.FileError</div>
                <div><span asp-validation-for="BoardPost.Text" class="text-danger"></span></div>
                <textarea class="form-control" asp-for="BoardPost.Text"></textarea>
            </div>
            <div class="form-group">
                <input type="file" class="form-control-file" id="file_input"
                       asp-for="BoardPost.Image" name="file">            
            </div>
            <button class="btn btn-success" type="submit">Objavi</button>
        </form>
    </div>
</div>