@model CommentRespondViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration config;

<div class="card bg-light">
    <div class="card-body">
        <form asp-action="RespondToComment" asp-controller="Column">
            <div class="form-group">
                <input class="form-control bg-dark border-dark text-white" asp-for="Comment.Username" placeholder="Ime" />
                <span asp-validation-for="Comment.Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <textarea class="form-control bg-dark text-white border-dark" asp-for="Comment.Text" id="textbox" placeholder="Odgovor"></textarea>
                <span asp-validation-for="Comment.Text" class="text-danger"></span>
            </div>

            <input class="form-control" hidden asp-for="CommentId" />

            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="@config["GoogleReCaptcha:key"]" data-theme="dark"></div>
            </div>

            <button class="btn btn-success" type="submit">Odgovori</button>

            <input asp-for="ReturnUrl" hidden value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        </form>
    </div>
</div>

