@model CommentRespondViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration config;

<div class="card">
    <div class="card-body">
        <form asp-action="RespondToComment" asp-controller="Column">
            <div class="form-group">
                <label class="text-muted">Ime</label>
                <input class="form-control" asp-for="Comment.Username" />
                <span asp-validation-for="Comment.Username" class="text-danger"></span>

                <label class="text-muted">Komentar</label>
                <textarea class="form-control" asp-for="Comment.Text" id="textbox"></textarea>
                <span asp-validation-for="Comment.Text" class="text-danger"></span>

                <input class="form-control" hidden asp-for="CommentId" />
                <input asp-for="ReturnUrl" hidden value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            </div>
            <div class="g-recaptcha" data-sitekey="@config["GoogleReCaptcha:key"]"></div>
            <br />
            <button class="btn btn-success" type="submit">Komentiraj</button>
        </form>
    </div>
</div>

