<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Panel - Bazirano</title>
    <link rel="stylesheet" asp-href-include="/lib/bootswatch/darkly/bootstrap.min.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand navbar-light bg-transparent border-bottom border-light border-top p-0">
            <a class="navbar-brand bg-secondary p-2" href="/">
                <h4><</h4>
            </a>
            <a class="btn btn-link m-1" href="/admin/news">Vijesti</a>
            <a class="btn btn-link m-1" href="/admin/board">Ploča</a>
            <a class="btn btn-link m-1" href="/admin/column">Kolumne</a>
        </nav>
        <div class="p-3"></div>
        @RenderBody()
    </div>
</body>
</html>



