@model IEnumerable<BoardThread>
@{
    Layout = "_AdminLayout";
}

    <div class="row">
        <h3 class="col-12">Ploča</h3>

        @foreach (var t in Model)
        {
            var firstPost = t.Posts.OrderByDescending(p => p.DatePosted).First();
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header text-muted">
                        <span>@firstPost.DatePosted</span>
                        <span class="float-right"> @firstPost.Id</span>
                    </div>
                    <div class="card-body pb-1">
                        <div class="row">
                            <div class="col-3">
                                <img class="card-img" src="~/images/@firstPost.Image" />
                            </div>
                            <div class="col-8">
                                <h5>@firstPost.Text</h5>
                            </div>
                            <div class="col-1">
                                <div class="container float-right ">
                                    <div class="row float-right">
                                        <a class="col-6 btn btn-toolbar" style="color:orangered"
                                           asp-action="DeleteBoardThread" asp-route-id="@t.Id">
                                            <h3 class="fa fa-trash float-right"></h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1"></div>
        }
    </div>