@model IEnumerable<NewsPost>
@{
    Layout = "_AdminLayout";
}
<h1 class="p-2 text-center">Vijesti</h1>

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-12 col-lg-6">    
            <div class="card m-1">
                <div class="card-body p-1">
                    <div class="row no-gutters">
                        <div class="col-2 text-muted text-center">
                            <span>@p.DatePosted.ToShortTimeString()</span>
                        </div>
                        <div class="col-7">@p.Title</div>
                        <div class="col-3">
                            <div class="container">
                                <div class="row float-right p-2">
                                    <a asp-action="EditArticle" asp-route-id="@p.Id">
                                        <h3 class="fa fa-pencil"></h3>
                                    </a>
                                    <div class="p-2"></div>
                                    <a style="color:orangered" asp-action="DeleteArticle" asp-route-id="@p.Id">
                                        <h3 class="fa fa-trash"></h3>
                                    </a>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

