@model List<IdentityRole>

<h1>
    <span>Uloge</span>
    <button class="btn btn-success float-right my-3" onclick="$('#addRoleForm').toggle('fast')">
        Dodaj
    </button>
</h1>

@{ var errors = (IEnumerable<IdentityError>)ViewBag.RoleErrors;}
@if (errors != null)
{
    foreach (var error in errors)
    {
        <p class="text-danger">@error.Description</p>
    }
}
<div id="addRoleForm" style="display:none">
    <form asp-action="CreateRole" method="post">
        <div class="form-group">
            <label class="text-white-50">Ime</label>
            <input name="roleName" class="form-control" placeholder="Ime" />
        </div>
        <button class="btn btn-success" type="submit">Dodaj ulogu</button>
    </form>
</div>

<div class="p-1"></div>

<div class="list-group">
    @foreach (var role in Model)
    {
        <div class="list-group-item">
            <div onclick="$('#@role.Id').toggle('fast')">
                <h3>@role.Name</h3>
            </div>
            <div  id="@role.Id" style="display:none">
                <a class="btn btn-danger float-right" asp-action="DeleteRole" asp-route-roleId="@role.Id">
                    Ukloni
                </a>
            </div>
        </div>

        <div class="p-1"></div>
    }
</div>

