@model ArticleViewModel

<nav class="nav navbar-nav p-3"></nav>
<div class="row">
    <div class="col-9">
        <div class="">
            <div class="">
                <h1 class="card-title">@Model.Article.Title</h1>
                <p class="text-muted">@Model.Article.DatePosted</p>
            </div>
            <img class="card-img-bottom" src="@Model.Article.Image" />
            <div class="card-body">@Html.Raw(Model.Article.Text)</div>
        </div>
    </div>
    <div class="col-3">
        @foreach (var post in Model.LatestNews)
        {
            <partial name="NewsPostLatest" model="post" />
            <br />
        }
    </div>
</div>
