@model NewsPost

    <div class="card m-3 p-3">
        <h1 class="card-title">@Model.Title</h1>
        <small class="text-muted">@Model.DatePosted</small>
        <br />
        <div class="card-body">@Model.Text</div>

    </div>