@model NewsPost
@using Bazirano.Infrastructure

<div class="row border-secondary border-bottom" style="padding-bottom:20px">
    <div class="col-2">
        <h4 class="p-0 m-0 btn-link">@Model.DatePosted.Elapsed()</h4>
        <span class="btn-link">min</span>
    </div>
    <div class="col-10">
        @Model.Title
    </div>
</div>

