@model NewsPost

<div class="row bg-light rounded m-0">
    <img class="col-4 p-0 rounded-left" src="@Model.Image" style="max-height:100px" />
    <div class="col-8 card-text">
        <div>@Model.Title</div>
        <small class="text-muted">@Model.DatePosted</small>
    </div>
</div>