@model IEnumerable<long>

@if (Model.Count() > 0)
{
    <div class="card-footer p-0">
        <span class="fa fa-reply fa-flip-both ml-2 text-success"></span>
        @foreach (var id in Model)
        {
            <a href="#@id" onclick="scrollToAnchor(@id)" 
               class="btn btn-link btn-light m-1 badge badge-pill">
                #@id
            </a>
        }
    </div>
}
