
@{
    ViewBag.Title = "Kontakt";
}
    <div class="p-5 text-center">
        <h3 class="p-2">Ako nas želite kontaktirati, <br />to možete učiniti na sljedeće načine: </h3>
        <h4 class="p-2">
            <a href="mailto:kontakt@bazirano.org">kontakt@bazirano.org</a>
        </h4>
        <h4 class="p-2">
            <a href="www.facebook.com/bazirano.org">Facebook</a>
        </h4>
        <h4 class="p-2">
            <a href="www.instagram.com/bazirano.org">Instagram</a>
        </h4>
    </div>

