
@{
    ViewBag.Title = "Kontakt";
}
    <div class="p-5 text-center">
        <h4 class="p-2">
            <a href="mailto:kontakt@bazirano.org">kontakt@bazirano.org</a>
        </h4>
        <h4 class="p-2">
            <a href="http://www.facebook.com/bazirano">Facebook</a>
        </h4>
        <h4 class="p-2">
            <a href="http://www.instagram.com/bazirano">Instagram</a>
        </h4>
    </div>

